@CHARSET "UTF-8";

/* Login Box */
.loginBox
{
	width: 350px;
/*
 	background-color: #EADCEF;
	border: solid 1px #EADEFC;
*/
	display: block;
	height: auto;
}

.inputText
{
	border: solid 1px #fdc689;
	width: 500px;
	border-left: solid 1px #000;
	border-bottom: solid 1px #000;
	height: 40px;
	font-size: 16px;
}

.error
{
	background-color: #FEE;
	color: #D00;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bolder;
	width: 400px;
	background-image: url(../imgs/error.png);
	background-repeat: no-repeat;
	background-position: 3px 3px;
	padding-left: 25px;
	text-align: center;
	border-top: solid 2px #D00;
	border-bottom: solid 2px #D00;
}

.ok
{
	background-color: #EFE;
	color: #090;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bolder;
	/*width: 400px;*/
	height:35px;
	background-image: url(../imgs/ok.png);
	background-repeat: no-repeat;
	background-position: 3px 3px;
	padding-left: 35px;
	text-align: center;
	border-top: solid 2px #090;
	border-bottom: solid 2px #090;
}

.botonSubmit
{
    font-size:10px;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    color: #FFF;
	background-color:#638cb5;
	border:0px;
	width:70px;
	height:15px;   
}

.listado
{
	/*width: 800px;*/
	background-color: #FFF;
}

.individual
{
	margin-left: 50px;
	margin-right: 50px;
	/*width: 700px;*/
	/* background-color:#638cb5; */
	display: block;
	border-bottom: solid 3px #CCC;
	/* border-top: solid 2px #AED; */
	margin-bottom: 20px;
	margin-top: 20px;
}

.imagenInd
{
	width: 200px;
	height: 200px;
	background-color: #EEF;
	float: left;

}

.tituloInd
{
	/*
	width: 500px;
	background-color: #EFF; 
	float: right;
	*/
}

.subTituloInd
{
	/*width: 500px;
	height: 20px;
	background-color: #FEF; 
	text-align: center;
	float: right;*/
}

.fecha
{
	/* width: 500px; */
	height: 20px;
	/* background-color: #FFA; 
	float: right; */
	text-align: right;
}

.textoDetalle
{
	/* width: 500px; */
	height: auto;
	/* background-color: #AEF;
	float: right;
	*/
	text-align: left;
	color: #000;
}

.herramientasRow
{
	width: 500px;
	height: auto;
	float: right;	
}
